.forgot_form {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 20;
    opacity: 0;
    width: 100% 
}
#signup:target ~ .login_wrapper .registration_form,
#signin:target ~ .login_wrapper .login_form,
#forgot:target ~ .login_wrapper .forgot_form {
    z-index: 22;
    animation-name: fadeInLeft;
    animation-delay: .1s
}
#signup:target ~ .login_wrapper .login_form,
#signin:target ~ .login_wrapper .registration_form,
#forgot:target ~ .login_wrapper .login_form {
    animation-name: fadeOutLeft
}

#infoMessage {
    color: red;
}

